.App {
  text-align: center;
}

.Nav, .footer {
  background-color: ;
  color: white;
  padding: 10px;
}

.content {
  margin: 20px;
}

button {
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
}